#your GROQ API key get it from console.groq.com
GROQ_API_KEY= YOUR API KEY

#APP name 
APP_NAME=YOUR APP NAME

#Embedding model to convert text to vector
EMBEDDING_MODEL= all-MiniLM-L6-v2

#Vector databse path
CHROMA_PATH= ./chroma_db

#chunk size for each chunck
CHUNK_SIZE= 512

#LLM Model to get the answer
LLM_MODEL= llama-3.1-70b-versatile

#Port to run specific port
PORT= 8000

#Environmentuse for log
ENVIRONMENT= Development

